[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mehdi/Desktop/java-condensed-summary.pdf]
row=2
col=0

[/home/mehdi/Desktop/notes]
row=1
col=0

[Trash]
row=8
col=17

[/home/mehdi]
row=0
col=0

